h1{color:skyblue;
font-size:35pt;
background-color:white;
font-weight:bold;
text-align:center;
margin:top 20px;}

body{color:black;
font-family:tahoma,helvetica,sans-serif;
font-size:15pt;
width:90%;
height:90%;}

.mainbox{border:10px solid pink;
background-color:white;
padding:top 20px;
padding:bottom 20px;
padding:right 5px;
padding:left 5px;}

boxes1{border:1px solid black;
background-color:plum;}
boxes2{border:1px solid balck;
background-color:aquamarine;}