h1{color:skyblue;
font-size:40pt;
text-align:center;
margin-bottom:0;}

h2{color:skyblue;
font-size:40pt;
text-align:center;
margin-top:0;}

body{color:black;
font-family:tahoma,helvetica,sans-serif;
font-size:15pt;
width:80%;}

.mainbox1{border:10px solid pink;
background-color:lightgoldenrodyellow;
padding-top:20px;
padding-bottom:20px;
padding-left:60px;
width:70%;
height:140px;}

.mainbox2{border:10px solid aquamarine;
background-color:lightgrey;
padding-top:20px;
padding-bottom:20px;
padding-left:60px;
width:70%;
height:90px;}